body{
    background-color: rgb(186, 240, 147)
}

div.h1{
    text-align: center;
    margin: auto;
    width: auto;
    color: goldenrod
    
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

div.benedicte{
color: rgb(132, 5, 5);
background-color: cyan;
border-style: dotted;
border-width: 5px;
border-color: purple

}

div.Michael{
    background-color: rgb(7, 122, 7);
    font-style: italic; 
    font-size: 16px; 
    border-style: groove;
    border-color: rgb(1, 4, 1);
    margin: 1px;
}

div.Hege{
    color: black;
    font-style: bold; 
    font-size: 20px;
    background-color: saddlebrown;
    border-style: dotted;
    border-width: 5px;
}

div.Madiha{
    background-color: antiquewhite;
    font-size: 20px;
    font-style: normal;
    border: 3px solid black;
    color: black;
    padding: 5px;
}

div.Erik{
    color: black;
    background-color: ivory;
    font-size: 16px;
    font-style: oblique;
    border-style: hidden;
}